.header a{
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.header .rightlinkbox{
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.headerlogo{
    font-size: 24px;
    color: #F9FAF8;
    margin-right: auto;
    font-weight: bold;
}

.header{
    display: flex;
    margin-bottom: auto;
}

.underheader{
    display: flex;
    margin-top: auto;
    gap: 30px;
}

.underheader .title{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.underheader .bodytext,
.underheader .placeholder
{
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
}

.underheader .placeholder{
    height: 200px;
    width: 600px;
    justify-content: center;
    align-items: center;
    background-color: grey;
    margin-left: auto;
}

.underheader .lefttext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-right: auto;
}

.underheader .signup{
    background-color: #3882F6;
    width: 120px;
    height: 30px;
    padding: 10px 20px 10px 20px;
    border-radius: 8px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.underheader .textinbutton{
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.section1{
    height: 300px;
}

.section2{
    height: 300px;
}

.section3{
    height: 200px;
}

.section1,
.section2{
    display: flex;
    flex-direction: column;
}

.section1{
    padding: 10px 100px 100px 100px;
    background-color: #1f2937;
}

.section2{
    background-color: white;
    padding-top: 35px;
    justify-content: flex-start;
    gap: 35px;
    padding-bottom: 100px;
}

.section2 .title{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.section2 .bluebox{
    width: 120px;
    height: 120px;
    border-color: #3882F6;
    border-width: 3px;
    border-radius: 8px;
    border-style: solid;
}

.section2 .itemscontainer{
    justify-content: center;
    display: flex;
    gap: 30px;
}

.section2 .items{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
}

.section2 .bodytext{
    text-align: center;
    overflow-wrap: break-word;
    font-size: 18px;
    color: #495057;
}

.section3{
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 90px 150px 90px 150px;
    justify-content: center;
    align-items: center;
}

.section3 .quote{
    font-size: 36px;
    font-style:italic;
    font-weight: light;
    color: #1f2937;
    overflow-wrap: break-word;
}

.section3 .author{
    font-size: 36px;
    font-weight: bolder;
    margin-left: auto;
}

.section4{
    height: 150px;
    display: flex;
    padding: 75px 120px 75px 120px;
    justify-content: center;
    align-items: center;
}

.section4 .calltoaction{
    font-size: 15px;
    font-weight: bold;
    color: white;
}

.section4 .bodytext{
    font-size: 10px;
    color: white;
}

.section4 .signupbutton{
    font-size: 18px;
    color: white;
    font-weight: bold;
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    text-align: center;
    background-color: #3882F6;
    margin-left: auto;
    border-color: white;
}

.section4 .lefttext{
    display: flex;
    flex-direction: column;
    margin-right: auto;
}

.section4 .bluediv{
    display: flex;
    padding: 25px 50px 25px 50px;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    width: 500px;
    border-radius: 8px;
}

.section5{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #112442;
}

.section5 .footercontent{
    font-size: 15px;
    color: white;
    font-weight: lighter;
}


